/* Login.css */

/* Styles for the login container, box, and form */
.login-container {
  @apply min-h-screen flex items-center justify-center relative bg-cover bg-no-repeat;
  background-image: url('../../assets/images/register.webp');
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

.login-container.blur-background {
  filter: blur(5px); /* Apply blur when OTP modal is active */
}

.login-box {
  @apply flex flex-col md:flex-row w-full max-w-5xl bg-white rounded-3xl shadow-2xl overflow-hidden border border-gray-200;
}

.login-form {
  @apply w-full md:w-1/2 p-10 flex flex-col justify-center;
  background-color: #FDE8E9;
  font-family: 'Roboto', sans-serif;
}

.login-title {
  @apply text-4xl font-bold text-gray-800 mb-6;
  font-family: 'Playfair Display', serif;
}

.login-subtitle {
  @apply text-base text-gray-700 mb-6 leading-relaxed;
}

.login-fields {
  @apply flex flex-col gap-6;
}

.login-input {
  @apply p-4 rounded-lg border border-gray-300 w-full focus:outline-none focus:ring-2 focus:ring-pink-400;
  background-color: #FFF8F3;
}

.login-button {
  @apply rounded-lg py-3 mt-6 font-semibold uppercase hover:bg-gradient-to-r hover:from-pink-500 hover:to-pink-400 transition duration-300 ease-in-out;
  background: linear-gradient(90deg, #D4AF37, #FFD700);
  color: white;
  border: none;
}

.login-button:hover {
  @apply transform scale-105;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
}

.login-link {
  @apply mt-4 text-sm text-gray-600 hover:text-gray-900 transition duration-300 ease-in-out;
}

.login-images {
  @apply w-full md:w-1/2 p-6 flex flex-col gap-6 justify-center items-center bg-gradient-to-b from-pink-100 to-pink-50;
}

.login-image {
  @apply w-full h-full rounded-xl overflow-hidden shadow-md;
}

.login-image img {
  @apply w-full h-full object-cover rounded-xl;
}

/* Forgot password styles */
.forgot-password-container {
  @apply flex justify-end w-full mt-2;
}

.forgot-password-link {
  @apply text-sm text-black hover:text-blue-300 font-medium;
}

/* OTP Modal styles */
.otp-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 1000;
}

.otp-modal {
  width: 400px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.otp-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.otp-modal input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.otp-modal button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #D4AF37;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.otp-modal button:hover {
  background-color: #FFD700;
}
